@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">My test application for Center of Bank Technologies</p>
    <p>Привет, <span title="Ваша фамилия">@ViewBag.UserInfo.Surname</span> <span title="Ваше имя">@ViewBag.UserInfo.Name</span></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="/Home/CreateEvent">Создать мероприятие &raquo;</a></p>
        <p><a class="btn btn-default" href="/Home/ShowEvents">Зарегистрироваться на мероприятие &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>