@model Test_Task.Models.Event.Field
<tr class="additional">
    <td>
        <input type="text" name="title" required />
    </td>
    <td>
        <input type="text" name="value" required />
    </td>
</tr>